<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModeIdentifier</key>
	<string>SEEMode.Javascript</string>
	<key>SearchURLString</key>
	<string>http://docs.jquery.com/Special:Search?ns0=1&amp;search=*&amp;go=Go</string>
	<key>Title</key>
	<string>JQuery</string>
	<key>URLString</key>
	<string>http://docs.jquery.com/</string>
</dict>
</plist>
