<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModeIdentifier</key>
	<string>SEEMode.CSS</string>
	<key>SearchURLString</key>
	<string>http://reference.sitepoint.com/css/*</string>
	<key>Title</key>
	<string>CSS sitepoint</string>
	<key>URLString</key>
	<string>http://reference.sitepoint.com/css</string>
</dict>
</plist>
