<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModeIdentifier</key>
	<string>SEEMode.SQL</string>
	<key>SearchURLString</key>
	<string>http://search.mysql.com/search?q=*&amp;amp;ie=&amp;amp;lr=lang_en</string>
	<key>Title</key>
	<string>MySQL</string>
	<key>URLString</key>
	<string>http://dev.mysql.com/doc/</string>
</dict>
</plist>
